<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Historial</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<script type="text/javascript" link="bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Tanda Telmex</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="bienvenido.html">Inicio<span class="sr-only">(current)</span></a></li>
	        <li><a href="ingresar.html">Inscribir usuario</a></li>
	        <li><a href="historial.html">Historial</a></li>
	        <li><a href="#">Reportar</a></li>
	        <li><a href="#">Manual</a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Cerrar sesion</a></li>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
      	<br></br>
      	<h3>Registro de pagos</h3>
		<table class="table table-bordered table-responsive">
			<thead>
			  <tr>
			    <td>Fecha de pago</td>
			    <td>Monto</td>
			    <td>Servicio</td>
			  </tr>
			</thead>
			<tbody>
			 
			  <!-- Aplicadas en las celdas (<td> o <th>) -->
			  <tr>
			    <td>05/05/16</td>
			    <td>$30</td>
			    <td>Por partes</td>
			  </tr>
			   <tr>
			    <td>05/05/16</td>
			    <td>$30</td>
			    <td>Por partes</td>
			  </tr>
			</tbody>
		</table>
      	<br></br>
      	<h3>Proximas fechas de pago:</h3>
      	<h5>Fecha 07/07/16 Monto:$500</h5>
      	<h5>Fecha 07/07/16 Monto:$500</h5>
      	<br></br>
	</div>
</body>
</html>